<service name="erlang_changes">
	<summary>Extract changelog from Erlang/OTP release</summary>
	<description>Extract changelog from Erlang/OTP release.</description>
</service>
